.techCardGrid {
    display: grid;
    background-color: rgba(33, 30, 58, 0.6);
    margin: 15px;
    font-family: 'Courier New', Courier, monospace;
    height: 70vh;
    color: white;
}

.techDivHeader {
    font-size: 30px;
    margin: 30px 30px 10px 30px;
}

.technologies {
    margin: 0px 20px 20px 20px;
    font-size: 20px;
    border: 4px black solid;
    padding-bottom: 10px;
}

.iconFooter {
    border-bottom: 2px solid black;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ul p {
    padding: 3px;
    margin-left: 25px;
}