/* Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* App.js */

.headerGrid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  background-size: 100%;
}

/* Home */

.introduction {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 100px 300px;
  line-height: 1.4;
}

.mountainImage {
  width: 75vw;
  margin-left: 200px;
  margin-right: 200px;
}

.homeHeader {
  font-size: 25px;
  padding-bottom: 35px;
  padding-top: 75px;
  font-weight: bold;
}

.bioDiv {
  margin-left: 250px;
  margin-right: 250px;
  line-height: 1.6;
}

.bio {
  font-size: 20px;
  margin-bottom: 10px;
}

.techAside {
  margin-left: 250px;
  margin-right: 250px;
}

.profilePicture {
  width: 20vw;
  margin: 50px;
  padding: 4px;
  position: absolute;
  right: 675px;
  top: 430px;
  border: 2px solid rgba(7, 7, 7, 0.8);
  border-radius: 2px;
  border-radius: 50px;
  opacity: .95;
  display: none;
}

.imgTechGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
  align-items: center;
}

/* Project Page */

.projectGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Contact Page */

.contactModal {
  position: absolute;
  width: 45%;
  right: 10px;
  background-color: grey;
  margin: 20px;
}

.modalHeaders {
  text-align: center;
  font-size: 35px;
}

.iconGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.icon {
  width: 75%;
  padding: 20px;
}

.phone {
  font-size: 30px;
  text-align: center;
  background-color: darkgrey;
}

/* Resume */


@media only screen and (max-width: 400px) {
  .headerGrid {
    border-bottom: rgba(1, 23, 31, 0.5) 10px solid;
  }
  
  .homeHeader {
    font-size: 30px;
    padding: 15px 15px 0px 15px;
  }

  .bio {
    font-size: 18px;
    margin: 15px;
  }

  .profilePicture {
    width: 100vw;
  }

  .resumeDiv {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;  
  }

  .resumeImage {
    height: 325px;
    width: 275px;
    margin: auto;
  }

  .imgTechGrid {
    grid-template-columns: 1fr;
    margin: 0px;
    padding-bottom: 55px;
  }
  
}