

.imageDiv2 {
    margin: 50px 50px 0px 50px;
}

.pcImage2 {
    border-radius: 25px;
    border: 1px solid grey;
    width: 600px; /* width of container */
    height: 600px; /* height of container */
    object-fit: cover;
    filter: blur(2px);
    opacity: 0.3;
}

.pseudoRelative{
    position: relative;
    width: 0;
    height: 0;
    top: -500px;
    left: 100px;
}

.projectDescription{
    position: relative;
    width: 500px;
}

.githubLink {
    position: relative;
    top: 375px;
}

.demoLink {
    position: relative;
    top: 375px;
}