.footer {
    position: relative;
    height: 6vh;
    background-color: rgba(149, 194, 245, 0.8);
    color: black;
    display: grid;
    grid-template-columns: 100fr 1fr 1fr 1fr;
    align-items: center;
    bottom: 0px;
    right: 0px;
}

.footer p {
    font-size: 17px;
    margin-left: 20px;
}